@media(max-width :500px){
    .container{  

        display: grid;
        padding: 35px;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 1fr 1fr ;
        grid-gap: 20px;
        border: 20px solid rgba(240, 29, 240, 1);
        width: 90%;
        height: 70vh;
        border-radius: 15px;
        position: absolute;
        z-index: 1;
        overflow: hidden;
        right: 10%;
        margin-top: 40px;
        transition: all 0.1;
      
        backdrop-filter: blur(10px);       
    }
}
