
@font-face {
    font-family: "Vazir";
    src: url('/fonts/Vazir.eot');
    src: url('/fonts/Vazir.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Vazir.woff2') format('woff2'),
    url('/fonts/Vazir.woff') format('woff'),
    url('/fonts/Vazir.ttf') format("truetype");
}
/* for reset */
*{
margin: 0;
padding: 0;
box-sizing: border-box;
letter-spacing: 4;
}
html{
    
    direction: rtl;
}
body{
    font-family: 'Vazir',Arial, Helvetica, sans-serif;
    font-weight: 300;
}